[submodule "PCB/MX_Alps_Hybrid"]
	path = PCB/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.git
[submodule "PCB/acheron_Components.pretty"]
	path = PCB/acheron_Components.pretty
	url = https://github.com/AcheronProject/acheron_Components.pretty.git
[submodule "PCB/cipulot_kicad_parts"]
	path = PCB/cipulot_kicad_parts
	url = https://github.com/Cipulot/cipulot_kicad_parts.git
[submodule "PCB/random-keyboard-parts.pretty"]
	path = PCB/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty.git
[submodule "PCB/AlexandriaLibrary"]
	path = PCB/AlexandriaLibrary
	url = https://github.com/AcheronProject/AlexandriaLibrary.git
[submodule "PCB/acheron_Connectors.pretty"]
	path = PCB/acheron_Connectors.pretty
	url = https://github.com/AcheronProject/acheron_Connectors.pretty
[submodule "PCB/acheron_MX_PlateSlots.pretty"]
	path = PCB/acheron_MX_PlateSlots.pretty
	url = https://github.com/AcheronProject/acheron_MX_PlateSlots.pretty.git
